
<div>
  <h1>To-do List</h1>
  <span>Let's get this day done with!</span>
</div>
<br><br>
<div>
  <input type="text" class="task-input" placeholder="Enter a task" [(ngModel)] = "getTask">
  <button class="add-btn" (click)="printTask()">Add task</button>
  <br>
  <p>{{errorMessage}}</p>
  <ul>
    <li *ngFor ="let item of list">
      <input type="checkbox" class="task-check"/> {{ item.taskValue }}
      <button class="del-btn" (click) = "deleteTask(item.id)">Delete</button>
    </li>
  </ul>
</div>

